.window {
    background-color: white;

    width: 600px;
    height: 400px;

    .topWindowBar {
        background-color: lightgray;
        height: 30px;

        display: flex;

        .windowTitle {
            padding-top: 0px;
            margin-left: 8px;
            margin-top: 4px;
        }

        .closeWindowButton {
            background-color: red;
            color: white;
            border-style: none;

            font-size: 18px;
            width: 30px;
            height: 30px;
        }
        .closeWindowButton:hover {
            background-color: darkred;
        }
        .closeWindowButton:active {
            background-color: black;
        }
    }
}